body{
  font-family: cursive;
}

.app-container {
  background-color: bisque;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-button {
  background: yellow;
  height: 4rem;
  width: 12rem;
  color: blue;
  font-size: 2rem;
  font-family: cursive;
  border-radius: 20px;
}

.game-name {
  font-size: 4rem;
  color: blueviolet;
  font-style: italic;
  font-family: cursive;
}